.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.group {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.search-container {
width: 33%; /* Cover one-third of the page */
margin: 0 auto; /* Center the container */
}
.group {
transition: visibility 0s, height 0.2s ease; /* Smooth transition */
}

/* @media (max-width: 980px) { */
.search-container {
width: 100%;
margin-bottom: 30px;
/* margin-left: 33%; */
margin-right: 33%;
}
/* } */